* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.morePicture {
  padding: 3rem;
  display: flex;
  justify-content: center;
  button {
    display: inline-block;
    padding: 0.75rem 1rem;
    font-size: 1.5rem;
    border: none;
    background: rgb(155, 61, 77);
    color: white;
    cursor: pointer;
  }
}

@import "./nav";
@import "./search";
@import "./footer";
@import "./pictures";
